mixin differentiators__lists(modifier)
  if modifier["listsArr"] == undefined
    - modifier["listsArr"] = [{head:"empty__listsArray"}];
  .differentiators__lists&attributes(attributes)
    each list in modifier.listsArr
      +list(list)(class=(list.modifier + " differentiators__list"))