@import '__interactive-fields/request-form__interactive-fields';
@import '__button/request-form__button';
@import '__text-area/request-form__text-area';
@import '__text-area-container/request-form__text-area-container';
@import '__input/request-form__input';
@import '__label/request-form__label';
@import '__input-container/request-form__input-container';
@import '__inputs-list/request-form__inputs-list';
@import '__description/request-form__description';
@import '__title/request-form__title';
@import '../title/title';
@import '../button/button';
.request-form {
  max-width: 1100px;
  @include mx(auto);
  border: 10px $request-form--border-color solid;
  box-sizing: border-box;
  position: relative;
  padding-top: 37px;
  font-family: 'PT_Sans' ,"Arial", sans-serif;
  @include px(40px);

  @media (max-width: $md - 1px){
    padding-right: 12px;
    padding-left: 11px;
    padding-top: 19px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
