mixin footer__contacts(modifier)
  if modifier["contactsArr"] == undefined
    - modifier["contactsArr"] = [{text:"empty__contactsArr",modifier:""}];
  ul.footer__contacts&attributes(attributes)
    each contact in modifier.contactsArr
      +footer__contact-container(contact)(class=contact.modifier)