.footer__contacts {
  font-size: 16px;
  line-height: 32px;
  margin-left: 56px;
  max-width: 290px;
  @media (max-width: $md - 1px){
    font-size: 12px;
    line-height: 18px;
    margin-left: 0px;
    max-width: 220px;
  }
}
