mixin about-us__content(modifier)
  .about-us__content&attributes(attributes)
    +about-us__text(modifier.textPartOne)
    +about-us__text(modifier.textPartTwo)
    +about-us__advantage-container(modifier)
    +link(modifier)