@font-face {
    font-family: 'PT_Serif';
    src: url('../../fonts/PT_Serif_squarel/ptserif-bolditalic-webfont.woff2') format('woff2'),
         url('../../fonts/PT_Serif_squarel/ptserif-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'PT_Serif';
    src: url('../../fonts/PT_Serif_squarel/ptserif-bold-webfont.woff2') format('woff2'),
         url('../../fonts/PT_Serif_squarel/ptserif-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT_Serif';
    src: url('../../fonts/PT_Serif_squarel/ptserif-italic-webfont.woff2') format('woff2'),
         url('../../fonts/PT_Serif_squarel/ptserif-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PT_Serif';
    src: url('../../fonts/PT_Serif_squarel/ptserif-regular-webfont.woff2') format('woff2'),
         url('../../fonts/PT_Serif_squarel/ptserif-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}