mixin main-screen__interactive-elements(modifier)
  .main-screen__interactive-elements&attributes(attributes)
    +button(modifier)(class="main-screen__button button_size_standard button_theme_main")
    +link(modifier)(class="main-screen__link link_theme_main")