mixin request-form__interactive-fields(modifier)
  .request-form__interactive-fields&attributes(attributes)
    +request-form__inputs-list(modifier)
    +request-form__text-area-container(modifier.textArea)
