.request-form__interactive-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
  @media (max-width: $lg - 1px){
    flex-direction: column;
    align-items: center;
  }
}
