@import '_theme_main/title_theme_main';
.title {
  font-family: 'PT_Sans' ,"Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  color: $title--color;

  @media (max-width: $md - 1px) {
    font-size: 18px;
  }

  &.title_theme_main{
    font-size: 48px;
    line-height: 62px;

    @media (max-width: $md - 1px){
      font-size: 22px;
      line-height: 30px;
    }
  }
}
