include ../../blocks/favicon/favicon.pug
include ../../blocks/header/header.pug
include ../../blocks/main-screen/main-screen.pug
include ../../blocks/differentiators-and-about-us-screen/differentiators-and-about-us-screen.pug
include ../../blocks/request-form/request-form.pug
include ../../blocks/footer/footer.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title ANKOTest
    +favicon()
  body
    +header({
      pages: [
        {text: "About us"},
        {text: "Resources"},
        {text: "Blog"},
        {text: "Careers"},
      ],
      emergencyText: "Emergency number",
      emergencyTel: "000-000-00",
      services: [
        {text: "Residential"},
        {text: "Commercial"},
        {text: "Industrial"},
        {text: "Design-Build"},
        {text: "Service"},
      ]
    })
    main
      +main-screen({
        title: "Residential",
        description: "Before installing any electrical system, we recommend a complete analysis of your power quality. Some utility lines have anomalies in voltage and current distribution. Let’s find and resolve these issues before integrating a new system. Get a thorough analysis today!",
        advantagesArr: [
          {
            measure:"Upper & Hi-end Housing",
            description: "Upper High-End class.<br/>No bullshit electrical.<br/>Smart home",
          },
          {
            measure:"Multi-Family<br/>(MDU)",
            description: "Many intentional communities incorporate multifamily residences.",
          }
        ],
        buttonText: "Request a quote",
        linkText : "More info"
      })
      +differentiators-and-about-us-screen({
        differentiators :{
          title: 'Differentiators',
          listsArr:[
          {
            modifier  : "list_with-image_lamp list_mobile_visible",
            head    : "Energy",
            itemsArr  : [
              {
                text:"Passion to&nbsp;perform", 
              },
              {
                text:"Passion to&nbsp;perform", 
                modifier: "list__item_desktop_invisible list__item_mobile_visible"
              },
            ]
          },
          {
            modifier  : "list_with-image_shield list_mobile_visible list_mobile-width_155",
            head    : "Safety",
            itemsArr  : [
              {
                text:"No accidents, safety program, PPE", 
              },
              {
                text:"No accidents, safety program, PPE", 
                modifier: "list__item_desktop_invisible list__item_mobile_visible"
              },
            ]
          },
          {
            modifier  : "list_with-image_head list_mobile_visible list_mobile-width_155 list_desktop_extra-head-margin list_mobile_lack-head-margin",
            head    : "Intelligence",
            itemsArr  : [
              {
                text:"State-of-the-art computer software</br>for collaboration and transparency"
              },
              {
                text: "Knowledge of Code,<br/> University", 
              },
              {
                text: "Engineering", 
              },
              {
                text: "Prefabrication", 
              },
              {
                text:"Knowledge of Code, University, Engineering, Prefabrication", 
                modifier: "list__item_desktop_invisible list__item_mobile_visible"
              },
            ]
          },
          {
            modifier  : "list_with-image_hands list_mobile_visible list_mobile-width_155 list_desktop_extra-head-margin list_mobile_lack-head-margin",
            head    : "Integrity",
            itemsArr  : [
              {text:"Zero tolerance to Code violations"},
              {text:"Zero tolerance to Safety violations "},
              {text:"Search for solutions, better for the Client"},
              {text:"Support for our top performers"},
              {
                text:"Search for solutions, better <br/>for the Client", 
                modifier: "list__item_desktop_invisible list__item_mobile_visible"
              },
            ]
          },
          ]
        },
        aboutUs : {
          title: 'About us',
          textPartOne: "Electrica, Inc. is a committed C-10 specialty electrical contractor, located in San Diedo, California, USA.",
          textPartTwo:"We work to help the patients to live and be healthy, and bring our best to fill the corridors of the hospital with smiles, not tears.",
          advantagesArr:[
            {
              number      : "20",
              measure     : "years",
              description : "Experience <br/>in electronic business"
            },
            {
              number      : "350",
              measure     : "clients",
              description : "Satisfied customers"
            }
          ],
          linkText : "Learn more about us"
        }
      })(class=" padding-frame")
      +request-form({
        title: "Request a quote",
        description: "We appreciate every partner, regardless of the size of his possibilities and try to find an individual approach to each client.",
        inputsArr: [
          {
            id: "input-name",
            name: "name",
            type: "text",
            placeholder: "Alexander",
            label: "Your name",
          },
          {
            id: "input-email",
            name: "email",
            type: "email",
            placeholder: "alexander@gmail.com",
            label: "E-mail",
          },
          {
            id: "input-phone",
            name: "phone",
            type: "tel",
            placeholder: "Phone number",
            label: "Phone",
          },
        ],
        textArea: {
          id: "message",
          name: "message",
          placeholder: "Your text",
          label: "Message"
        },
        buttonText: "Send request"
      })(class=" padding-frame")
    +footer({
      contactsArr:[
        {
          text: "619-551-0828",
          modifier: "footer__contact_phone"
        },
        {
          text: "info@electrica-inc.com",
          modifier: "footer__contact_email"
        },
        {
          text: "3534 Caminito El Rincon #41 San Diego, CA 92130",
          modifier: "footer__contact_adress"
        },
      ],
      whoWeAreList: {
        head: "Who we are",
        itemsArr:[
          {
            text: "About us"
          },
          {
            text: "Resources"
          },
          {
            text: "Blog"
          },
          {
            text: "Careers"
          },
        ]
      },
      whatWeDoList: {
        head: "What we do",
        itemsArr:[
          {
            text: "Residential"
          },
          {
            text: "Commercial"
          },
          {
            text: "Industrial"
          },
          {
            text: "Design-Build"
          },
          {
            text: "Service"
          },
        ]
      },
      sign: "&copy; 2018 Electrica, Inc. All rights reserved",
    })(class=" padding-frame")
