mixin main-screen__text-content(modifier)
  .main-screen__text-content&attributes(attributes)
    +title(modifier)(class="main-screen__title title_theme_main")
    +main-screen__description(modifier)
    +main-screen__advantages-list(modifier)
    +main-screen__interactive-elements(modifier)