mixin footer__top(modifier)
  .footer__top&attributes(attributes)
    +footer__logo-and-contacts(modifier)
    +footer__who-we-are-container(modifier.whoWeAreList)
    +footer__about-us-list(modifier.whatWeDoList)
