.footer__top {
  display: flex;
  position: relative;
  padding-top: 53px;
  padding-bottom: 38px;
  @media (max-width: $md - 1px){
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 13px;
  }
  &:before,
  &:after{
    content: '';
    height: 1px;
    position: absolute;
    @include centeredX();
  }
  &:before{
    background-color: $footer__top-after--BGColor;
    width: 90%;
    top: 0;
    @media (max-width: $md - 1px){
      width: 100%;
    }
    @media (max-width: $sm - 1px){
      width: 105%
    }
  }
  &:after{
    background-color: $footer__top-before--BGColor;
    width: 97%;
    bottom: 0;
  }
}
