.list__head {
  font-weight: bold;
  line-height: 20px;
  color: $list__head--color;
  margin-bottom: 8px;
  @media (max-width: $md - 1px) {
    font-size: 16px;
    margin-bottom: 2px;
  }
}

.list_desktop_extra-head-margin{
  .list__head {
    @media (min-width: $md) {
      margin-bottom: 17px;
    }
  }
}


.list_mobile_lack-head-margin{
  .list__head {
    @media (max-width: $md - 1px) {
      margin-bottom: 6px;
    }
  }
}

.list_theme_footer{
  .list__head{
    margin-bottom: 17px;
    color: $list_theme_footer__head--color;
  }
}
