include __about-us-content/footer__about-us-content.pug
include __about-us-href/footer__about-us-href.pug
include __about-us-item/footer__about-us-item.pug
include __about-us-head/footer__about-us-head.pug
include __about-us-list/footer__about-us-list.pug
include __contact-container/footer__contact-container.pug
include __logo-and-contacts/footer__logo-and-contacts.pug
include ../socials/socials.pug
include ../list/list.pug
include ../logotype/logotype.pug
include __sign/footer__sign.pug
include __bottom/footer__bottom.pug
include __who-we-are-container/footer__who-we-are-container.pug
include __contact/footer__contact.pug
include __contacts/footer__contacts.pug
include __top/footer__top.pug
mixin footer(modifier)
  footer.footer&attributes(attributes)
    +footer__top(modifier)
    +footer__bottom(modifier)
